@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* Remove the left margin from columns */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* Add space between columns */
  background-clip: padding-box;
}

@import "https://cdn.jsdelivr.net/npm/stream-chat-react/dist/css/index.css";

.custom-message-list {
  max-height: 400px;
  overflow-y: auto;
  background-color: #f7fafc;
  padding: 1rem;
}

.custom-message-input {
  background-color: white;
  padding: 1rem;
}
